header {
  padding: 8px 20px;
  border-bottom: 1px solid rgb(229, 231, 235);
}

.collapse-icon svg {
  font-size: 28px !important;
  cursor: pointer;
}

button.header-btn {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: wheat;
  margin: 0 4px;
  border-radius: 12px;
  font-size: 20px;
  color: white;
}
