.sidebar-wrapper {
  background: #fff; /* Light blue background */
  height: 100%;
  transition: width 0.3s ease; /* Add transition for width */
  min-height: 100vh;
  border-right: 1px solid rgb(229, 231, 235);
  overflow-x: hidden;

  &.open {
    width: 16rem !important;
  }

  &.closed {
    width: 4rem !important;

    .brand-wrapper {
      padding: 8px 0;
      justify-content: center;
    }

    .app-logo {
      width: 40px;
    }

    .nav-link {
      padding: 6px 0px;
      justify-content: center;
    }
  }
}

.brand-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 20px;
}

.app-logo {
  min-width: 39px;
  width: 48px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
}

.nav-list {
  padding: 8px 10px;
}

.nav-link {
  padding: 6px 10px;
  border-radius: 10px;
  transition: background 0.3s, color 0.3s;
  margin-bottom: 4px;
  color: rgb(55, 65, 81);
  fill: rgb(55, 65, 81);
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 12px;

  &.active,
  &:hover {
    background: rgb(249, 250, 251);
    color: rgb(79, 70, 229);
    fill: rgb(79, 70, 229);
  }
}

.logout-button-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 20px 0; /* Adjust margin as needed */
}

.logout-button {
  background: none;
  border: none;
  color: rgb(79, 70, 229);
  fill: rgb(79, 70, 229);
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 10px;
  cursor: pointer;
  width: calc(100% - 32px); /* Adjust padding and margin */
  font-weight: bold;
  transition: background 0.3s, color 0.3s;
  margin: 0 16px; /* Adjust margin as needed */

  &:hover {
    background: rgb(249, 250, 251);
    color: rgb(79, 70, 229);
    fill: rgb(79, 70, 229);
  }
}
